{% extends 'base.html' %}
{% load static %}
{% block static %} 
<link rel="stylesheet" type="text/css" href="{% static 'book_app/style.css' %}">
{% endblock %}
{% block title %} {{title}}  {% endblock %}

{% block content %}
    <div class="index-main">
        <div id="index-book">
            <h2>Последние киги:</h2>
            <ol>
                {% for book in object_list %}
                    <li><a href="{% url 'book_by_slug' book.slug %}">{{book.title}}</a></li>
                {% endfor %}
            </ol>
        </div>
        <div id="index-author">
            <h2>Последние авторы:</h2>
            <ol>
                {% for author in authors %}
                    <li><a href="{% url 'author_by_id' author.id %}">{{author}}</a></li>
                {% endfor %}
                </ol>
        </div>
    </div>
{% endblock %}