body {
    background-color: whitesmoke;
    padding: 0;
    margin: 0;
}

.index-main {
    display: flex;
    flex-direction: row;
    justify-items: left;
}

.top {
    color: red;
    font-size: medium;
}

.form-element {
    margin: 2px;
    padding: 2px;
    display: flex;
    flex-direction: row;
}

.author-info-block {
    display: flex;
    flex-direction: row;
    justify-items: left;
    column-gap: 10px;
    padding: 10px;
    align-items: center;
}

#author, img {
    height: 200px;
}
